*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}
header{
    background: rgb(255, 241, 219);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12.5%;
    padding-top: 2%;
    
}
nav h1{
    font-size: 45px;
}
nav ul{
    display: flex;
    gap: 30px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.head-title{
    text-align: center;
}
.head-title h1{
    font-size: 4rem;
    margin-top: 60px;
    padding-bottom: 20px;
}
p{  
    font-size: 16px;
    color: gray;
}
button{
    margin-top: 30px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: orange;
    font-size: 20px;
}
.head-title img{
    margin-top: 60px;
    width: 75%;
    padding-bottom: 2%;

}
.team{
    margin: 4% 12.5%;
    display: flex;
    align-items: center;
}
.photo-galary{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.photo-galary img{
    width: 100%;
}
.galary-title{
    margin-left: 100px;
}
.galary-title h1{
    font-size: 40px;
}
.span-one{
    font-weight: 400;
    color: gray;
}
.span-two{
    color: orange;
}
.box{
    margin: 8% 12.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-title h1{
    font-size: 45px;
    border-left: 5px solid orange;
    padding-left: 30px;
}
.box-title p{
    margin-top: 30px;
}
.box-element{
    margin-top: 40px;
}
.box-element p{
    margin-top: 20px;
}
.box-two img{
    width: 100%;
}
.experience{
    margin: 0 auto;
    width: 150px;
    text-align: center;
    padding: 30px 50px;
    background: orange;
    transform: translate(0 ,-220px);
    color: white;
    font-weight: 500;
    border-radius: 5px;
}
.experience span{
    font-weight: 700;
    font-size: 35px;
}
.some-fact{
    margin: 0 12.5%;
}
.some-title h1{
    font-size: 30px;
}
.some-title p{
    margin-top: 20px;
}
.fact-icon{
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
}
.icon{
    text-align: center;
    border:1px solid orange;
    border-radius: 5px;
}
.icon img{
    width:50%
}
.icon h1{
    font-size: 35px;
    color: rgb(61, 61, 61);
    padding: 10px 0;
}
.icon p{
    color:rgb(80, 80, 80);
    font-size: 20px;
    font-weight: 600;
}
.icon div{
    padding: 30px;
}
footer{
    margin-top: 10%;
}
footer h1, .para{
   text-align: center;
}
.para {
    margin-top: 30px;
}
.sponsor{
    margin: 5% 12.5%;
    display: flex;
    justify-content: space-between;
}

h6{
    font-size: 15px;
    color: rgb(66, 66, 66);
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    background:rgb(255, 241, 219);
}
.copy{
    margin: 0 12.5%;
    padding-bottom: 100px;
}


@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        
    }
    nav ul{
        margin-top: 3%;
    }
    
    .team{
        flex-direction: column;
    }
    .galary-title{
        margin: 5% 0;
        justify-content: start;
    }
    .box{
        flex-direction: column;
    }
    .fact-icon{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:10px;
    }
    .some-title p{
        font-size: 2px;
    }
    .sponsor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    h6{
        font-size: 100%;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {

    nav{
        flex-direction: column;
        
    }
    nav ul{
        margin-top: 3%;
    }
    
    .team{
        flex-direction: column;
    }
    .galary-title{
        margin: 5% 0;
        justify-content: start;
    }
    .box{
        flex-direction: column;
    }
    .fact-icon{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:10px;
    }
    .some-title p{
        font-size: 2px;
    }
    .sponsor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    h6{
        font-size: 100%;
    }
}